.header {
    padding: 25px;
    display: flex;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-between;
}

.logo {
    height: 30px;
    transition: 0.3s ease;
}

.logo:hover {
    height: 28px;
}