.priceCard {
    width: 80%;
    padding: 20px;
    /* border: 1px solid lightgray; */
    box-shadow: 10px 0 15px rgba(23, 13, 13, 0.1);
    border-radius: 10px;

}

.priceInput {
    width: 10px;
    margin-left: 0px;
}

.priceLabel {
    margin: 0px;
}