.progress-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    margin-bottom: 40px;
}

.step-container {
    position: relative;
}

.step {
    width: 60px;
    height: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdce6;
    /* Lighter background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    transition: background-color 0.3s ease, width 0.3s ease;
}

.step.active {
    background: linear-gradient(to right, #667EEA, #764BA2);
    /* Gradient background */
    color: #fff;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Enhance shadow for active step */
}